.btn{
  display: inline-block;
  line-height: 1;
  background: none;
  font-weight: inherit;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  outline: none;

}

.btn-primary{
  width: 100%;
  padding: 35px 20px;
  font-size: 11px;
  color: white;
  background-color: rgb(38, 38, 38);
  text-transform: uppercase;
  font-weight: 600;
  transition: all .3s ease;
  letter-spacing: 1.5px;

  &:disabled{
    opacity: 0.8;
    cursor: no-drop;
  }
}

@media screen and (min-width: 48rem) {
  .btn-primary{
    width: 280px;
  }
}
