@font-face {
    font-family: 'Suisse';
    src: url('../assets/SuisseIntl-SemiBold.woff2') format('woff2'),
        url('../assets/SuisseIntl-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('../assets/SuisseIntl-Light.woff2') format('woff2'),
        url('../assets/SuisseIntl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('../assets/SuisseIntl.woff2') format('woff2'),
        url('../assets/SuisseIntl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('../assets/SuisseIntl-SemiBold.woff2') format('woff2'),
        url('../assets/SuisseIntl-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('../assets/SuisseIntl.woff2') format('woff2'),
        url('../assets/SuisseIntl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('../assets/SuisseIntl-Light.woff2') format('woff2'),
        url('../assets/SuisseIntl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
